<template>
    <div style="align:center;">

        <section id="inner-headline">
            <div class="container">
                <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                    <h2>Sign Up</h2>
                    </div>
                </div>
                <div class="span8">
                    <ul class="breadcrumb">
                    <li><router-link to="/"><i class="icon-home"></i> Home</router-link><i class="icon-angle-right"></i></li>
                    <li><router-link to="/signup">Sign Up</router-link></li>
                    </ul>
                </div>
                </div>
            </div>
        </section>
        <br/>
        <section>
            <div class="container">
                <div class="row" style="margin-left:20%;">
                    <div class="col-md-6 col-lg-6">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <form class="form-horizontal" @click.prevent="signUp()">
                            <div class="control-group">
                                <label class="control-label" for="fullname">Full Name</label>
                                <div class="controls">
                                    <input type="text" style="width:50%;" class="form-control" id="fullname"  placeholder="Full Name" v-model="form.full_name" name="full_name" :class="{ 'is-invalid': form.errors.has('full_name') }">
                                    <has-error :form="form" field="full_name"></has-error>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="inputEmail">Email</label>
                                <div class="controls">
                                <input type="text" style="width:50%;" id="inputEmail" placeholder="Email" v-model="form.email" name="email" :class="{ 'is-invalid': form.errors.has('email') }">
                                <has-error :form="form" field="email"></has-error>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSignupPassword">Password</label>
                                <div class="controls">
                                <input type="password" style="width:50%;" id="inputSignupPassword" v-model="form.password" name="password" :class="{ 'is-invalid': form.errors.has('password') }" placeholder="Password">
                                <has-error :form="form" field="password"></has-error>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSignupPassword2">Confirm Password</label>
                                <div class="controls">
                                <input type="password" style="width:50%;" id="inputSignupPassword2" v-model="form.password_confirmation" name="password" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" placeholder="Confirm Password">
                                <has-error :form="form" field="password_confirmation"></has-error>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                <button type="submit" class="btn">Sign up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>

<script>
    export default {
        name: "SignUp",
        data(){
            return {
                form: new Form({
                    full_name:'',
                    email: '',
                    password: '',
                    password_confirmation :''
                })
            }
        },
        methods:{
            signUp() {
                this.form.post('/signup')
                    .then((response)=>{
                       this.$router.push('/signin')
                        toast.fire({
                            type: 'success',
                            title: 'Registration Complete successfully'
                        })
                    })
                    .catch(()=>{
                    })
            }
        }
    }
</script>

<style scoped>

</style>