<template>
    <div style="align:center;">

        <section id="inner-headline">
            <div class="container">
                <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                    <h2>Sign In</h2>
                    </div>
                </div>
                <div class="span8">
                    <ul class="breadcrumb">
                    <li><router-link to="/"><i class="icon-home"></i> Home</router-link><i class="icon-angle-right"></i></li>
                    <li><router-link to="/signup">Sign Up</router-link></li>
                    </ul>
                </div>
                </div>
            </div>
        </section>
        <br/>
        <section>
            <div class="container">
                <div class="row" style="margin-left:20%;">
                    <div class="col-md-6 col-lg-6">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <form class="form-horizontal" @click.prevent="signIn()">

                            <div class="control-group">
                                <label class="control-label" for="inputEmail">Email</label>
                                <div class="controls">
                                <input type="text" style="width:50%;" id="inputEmail" placeholder="Email" v-model="form.email" name="email" :class="{ 'is-invalid': form.errors.has('email') }">
                                <has-error :form="form" field="email"></has-error>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputSignupPassword">Password</label>
                                <div class="controls">
                                <input type="password" style="width:50%;" id="inputSignupPassword" v-model="form.password" name="password" :class="{ 'is-invalid': form.errors.has('password') }" placeholder="Password">
                                <has-error :form="form" field="password"></has-error>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                <button type="submit" class="btn">Sign In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>

<script>
    import EventBus from '../../EventBus.vue'
    export default {
        name: "SignUp",
        data(){
            return {
                form: new Form({
                    email: '',
                    password: '',
                })
            }
        },
        methods:{
            signIn() {
                this.form.post('/signin')
                    .then((response)=>{
                        console.log(response.data.status);
                        if(response.data.status=='success') {
                            localStorage.setItem('userid', response.data.userid);
                            localStorage.setItem('userid', response.data.username);
                            this.emitMethod();
                            this.$router.push('/');
                            toast.fire({
                                type: 'success',
                                title: 'Sign In Complete successfully'
                            });
                        }
                    })
                    .catch(()=>{
                    })
            },
            emitMethod () {
                EventBus.$emit('logged-in', 'loggedin')
            }
        }
    }
</script>

<style scoped>

</style>